<br />
<br />

<h2>Registrase a Grupo Musical</h2>

<%= simple_form_for(@user) do |f| %>
 
    <%= f.association :groups, label: 'Grupo Musical : ', :as => "check_boxes" %>
    <br />
<br />

    <%= f.submit 'Registrar' %>
  
<% end %>
<br />
<br />
<%= link_to 'Regresar', home_path %>